<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    
</head>


<h1>edit </h1>


<form action="./edit_profile" method="post" class="p-3">
      <div class="form-group">
         <label for="recipient-name" class="col-form-label">First Name</label>
         <input type="text" class="form-control" placeholder="First Name" name="FN"  value="<%=user.First_Name  %> ">
       </div>
       <div class="form-group">
        <label for="recipient-name" class="col-form-label">Middle Name</label>
        <input type="text" class="form-control" placeholder="Middle Name" name="MN" value="<%=user.Middle_Name  %> ">
      </div>
       <div class="form-group">
         <label for="recipient-name" class="col-form-label">Last Name</label>
         <input type="text" class="form-control" placeholder="LastName" name="LN" value="<%=user.Last_Name  %> ">
       </div>
     
       <div class="form-group">
         <label for="recipient-name" class="col-form-label">Email id</label>
         <input type="email" class="form-control" placeholder="Email id" name="Email" value="<%=user.Email  %>">
       </div>
      <div class="form-group">
         <label for="recipient-name" class="col-form-label">Mobile Number</label>
         <input type="text" class="form-control" placeholder="Mobile Number" name="Mobile" value="<%=user.Phone_Number  %>">
       </div>
       
       
       <div class="right-w3l mt-4 mb-3">
         <input type="submit" class="form-control" value="Update">
       </div>
     </form>
<br>
<a href="./">home</a>