


<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eduversity Education Category Flat Bootstrap Responsive Website Template | Courses : W3layouts</title>

    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Eduversity Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--// Meta tag Keywords -->

    <!-- css files -->
    <link rel="stylesheet" href="/css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link rel="stylesheet" href="/css/fontawesome-all.css"> <!-- Font-Awesome-Icons-CSS -->
    <!-- //css files -->

    <!--web font-->
    <link href="//fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
    <!--//web font-->

</head>

<body>


<!-- header -->
<header>
    <div class="container">

        <!-- nav -->
        <nav class="navbar navbar-expand-lg navbar-light py-sm-4 py-2">
            <!-- logo -->
            <h1>
                <a class="navbar-brand" href="/instructor/"> <i class="fab fa-affiliatetheme"></i>
                    Eduversity
                </a>
            </h1>
            <!-- //logo -->
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- main nav -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-lg-auto text-center">
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="/instructor/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item mr-lg-3">
                        <a class="nav-link" href="/instructor/courses">Courses</a>
                    </li>
                    <li class="dropdown nav-item active mr-lg-3">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle ">
                            Account
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="nav-item">
                                <a href="/instructor/profile/" class="nav-link">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="/users/logout" class="nav-link">Logout</a>
                            </li>
                        </ul>

                </ul>
            </div>
            <!-- //main nav -->
        </nav>
        <!-- //nav -->
    </div>
</header>
<!-- //header -->

<!-- inner banner -->
<div class="inner_banner layer" id="home">
    <div class="container">
        <div class="agileinfo-inner">
            <h2 class="text-center text-white">
                Welcome  <%= instructor.First_Name%> <%= instructor.Last_Name%>
            </h2>
        </div>
    </div>
</div>
<!-- //inner banner -->
<!-- breadcrumbs -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/instructor/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
</nav>
<!-- //breadcrumbs -->

<% if (messages) { %>
<%if(messages[0]){%>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <i class="fa sign"></i><strong></strong>
        <span><%= messages[0]%></span>
    </div>
<%}%>
<% } %>


<!-- courses -->
<section class="courses py-5">




    <!-- Login modal -->

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-uppercase" id="exampleModalLabel1">My Profile</h5>
            </div>
            <div class="modal-body">
                <form action="/instructor/profile/" method="post" class="p-3">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" name="fname" id="recipient-name2" value="<%= instructor.First_Name%>">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Middle Name</label>
                        <input type="text" class="form-control" placeholder="Middle Name" name="mname" id="recipient-name2" value="<%= instructor.Middle_Name%>">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" name="lname" id="recipient-name3" value="<%= instructor.Last_Name%>">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">PhoneNumber</label>
                        <input type="text" class="form-control" placeholder="Phone Number" name="phone" id="recipient-name2" value="<%= instructor.Phone_Number%>" maxlength="10">
                    </div>

                    <div class="right-w3l mt-4 mb-3">
                        <input type="submit" class="form-control" value="Update Profile">
                    </div>
                </form>

            </div>
    </div>

    <!-- //Login modal -->







    <!--<h1>profile</h1>-->

    <!--<br>-->

    <!--<li><%= user.Instructor_id  %></li>-->
    <!--<li><%= user.First_Name  %></li>-->
    <!--<li><%= user.Last_Name  %></li>-->
    <!--<li><%= user.Middle_Name  %></li>-->
    <!--<li><%= user.Email  %></li>-->
    <!--<li><%= user.Phone_Number  %></li>-->

    <!--<li><%= user. Department_id  %></li>-->








    <!--<a href="./">home</a>-->








</section>
<!-- courses -->

<!-- footer -->
<footer>
    <div class="container-fluid p-sm-5 py-5">
        <div class="row footer-gap">
            <div class="col-lg-4 col-sm-6">
                <h3 class="text-uppercase mb-3">Address</h3>
                <address class="mb-0">
                    <p><strong>Postal address:</strong></p>
                    <p class="mb-3"><i class="fas fa-map-marker"></i> NH 66, Srinivas Nagar, Surathkal, Mangaluru <br> Karnataka 575025 .</p>
                    <p><i class="fas fa-clock"></i> Timings : 8 a.m to 5 p.m</p>
                    <p><i class="fas fa-phone"></i> 0824 6545654</p>
                    <p><i class="fas fa-envelope-open"></i> <a href="http://www.nitk.ac.in">nitk.ac.in</a></p>

                </address>
            </div>
            <div class="col-lg-3 col-sm-6 mt-lg-0 mt-sm-0 mt-4 p-md-0">
                <h3 class="text-uppercase mb-3">Quick Links</h3>
                <div class="links">
                    <a class="text-capitalize" href="http://www.nitk.ac.in"> NITK</a>
                    <a class="pt-2 text-capitalize" href="https://iris.nitk.ac.in"> NITK IRIS</a>

                    <div class="divider"></div>
                    <a class="pt-2 text-capitalize" href="/"> Our Home</a>

                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 mt-lg-0 mt-sm-5 mt-4 p-md-0">
                <h3 class="text-uppercase mb-3">Support</h3>
                <div class="links">
                    <a class="text-capitalize" href="#"> Contact Us</a>
                    <a class="pt-2 text-capitalize" href="#"> Technical support</a>
                    <a class="pt-2 text-capitalize" href="#"> 24/7 Service</a>
                    <div class="divider"></div>
                    <a class="pt-2 text-capitalize" href="#"> Privacy Policy</a>
                    <a class="pt-2 text-capitalize" href="#"> Feedback & FAQ's</a>
                    <a class="pt-2 text-capitalize" href="#"> Terms Of Use</a>
                </div>
            </div><!--
      <div class="col-lg-3 col-md-5 col-sm-6 mt-lg-0 mt-sm-5 mt-4 pr-md-5">
        <h3 class="text-uppercase mb-3">Newsletter</h3>
        <p class="mb-4">Subscribe to Our Newsletter to get News, Amazing Offers & More</p>
        <form action="#" method="post">
          <input type="email" name="Email" placeholder="Enter your email..." required="">
          <button class="btn1"><i class="far fa-paper-plane"></i></button>
          <div class="clearfix"> </div>
        </form>
      </div>-->
            <div class="col-lg-3 col-md-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
                <h3 class="text-uppercase mb-3"> Follow us</h3>
                <p class="mb-4">Follow us on social media</p>
                <ul class="social mt-lg-0 mt-3">
                    <li class="mr-1"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                    <li class=""><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                    <div class="social-divider"></div>
                    <li class="mr-1"><a href="#"><span class="fas fa-rss"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-vk"></span></a></li>
                    <li class="mr-1"><a href="#"><span class="fab fa-vimeo-v"></span></a></li>
                    <li class=""><a href="#"><span class="fab fa-yahoo"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="copyright pb-5 text-center">-->
    <!--<p>© 2018 Eduversity. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a></p>-->
    <!--</div>-->
</footer>
<!-- footer -->

<!-- js -->
<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->

<!-- search-bar -->
<script src="/js/main.js"></script>
<!-- //search-bar -->

<!-- Countdown-Timer-JavaScript -->
<script src="/js/simplyCountdown.js"></script>
<!-- easy to customize -->
<script>
    $('#simply-countdown-losange').simplyCountdown({
        year: 2020,
        month: 1,
        day: 06
    });
</script>
<!-- //Countdown-Timer-JavaScript -->

<!-- start-smoth-scrolling -->
<script src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->

</body>
</html>